blinky.flow.json
[
    {
        "id": "222542a3.e486fe",
        "type": "tab",
        "label": "Simpel timer",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1a398b93.094044",
        "type": "switch",
        "z": "222542a3.e486fe",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 460,
        "wires": [
            [
                "416540f3.b1c65"
            ],
            [
                "4ea80567.35ec2c",
                "aaa681cc.c4869"
            ]
        ]
    },
    {
        "id": "416540f3.b1c65",
        "type": "trigger",
        "z": "222542a3.e486fe",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "num",
        "op2type": "num",
        "duration": "1000",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 600,
        "y": 360,
        "wires": [
            [
                "4ea80567.35ec2c",
                "21d70bf6.6cc714",
                "f5ea62cc.6e43a"
            ]
        ]
    },
    {
        "id": "c1f24bec.e78ec8",
        "type": "inject",
        "z": "222542a3.e486fe",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "1a398b93.094044"
            ]
        ]
    },
    {
        "id": "e03a38ae.37b728",
        "type": "inject",
        "z": "222542a3.e486fe",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 210,
        "y": 560,
        "wires": [
            [
                "1a398b93.094044"
            ]
        ]
    },
    {
        "id": "4ea80567.35ec2c",
        "type": "rpi-gpio out",
        "z": "222542a3.e486fe",
        "name": "Red-Led",
        "pin": "37",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1060,
        "y": 360,
        "wires": []
    },
    {
        "id": "c0146548.8d34d8",
        "type": "debug",
        "z": "222542a3.e486fe",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 100,
        "wires": []
    },
    {
        "id": "3ce19565.7e82aa",
        "type": "ui_button",
        "z": "222542a3.e486fe",
        "name": "",
        "group": "b853aa95.01f38",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start blink",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 420,
        "wires": [
            [
                "1a398b93.094044"
            ]
        ]
    },
    {
        "id": "e7f1bc36.20731",
        "type": "ui_button",
        "z": "222542a3.e486fe",
        "name": "",
        "group": "b853aa95.01f38",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 460,
        "wires": [
            [
                "1a398b93.094044"
            ]
        ]
    },
    {
        "id": "21d70bf6.6cc714",
        "type": "ui_gauge",
        "z": "222542a3.e486fe",
        "name": "On/off",
        "group": "b853aa95.01f38",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "gauge",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#000000",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1030,
        "y": 220,
        "wires": []
    },
    {
        "id": "f5ea62cc.6e43a",
        "type": "switch",
        "z": "222542a3.e486fe",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 220,
        "wires": [
            [
                "eb67a7b5.40ee58"
            ],
            []
        ]
    },
    {
        "id": "eb67a7b5.40ee58",
        "type": "delay",
        "z": "222542a3.e486fe",
        "name": "",
        "pauseType": "delay",
        "timeout": "2000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 720,
        "y": 220,
        "wires": [
            [
                "416540f3.b1c65"
            ]
        ]
    },
    {
        "id": "aaa681cc.c4869",
        "type": "change",
        "z": "222542a3.e486fe",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "reset",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 100,
        "wires": [
            [
                "c0146548.8d34d8",
                "eb67a7b5.40ee58"
            ]
        ]
    },
    {
        "id": "b853aa95.01f38",
        "type": "ui_group",
        "name": "Flow button",
        "tab": "c0e9b3.7bfe565",
        "order": 1,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "c0e9b3.7bfe565",
        "type": "ui_tab",
        "name": "Test",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]